# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.ipynb_checkpoints/

# Data & model weights (too large for GitHub)
data/
EuroSATallBands/
outputs/weights/
outputs/predictions/
*.tif
*.tiff
*.pt
*.pth
*.npy

# macOS
.DS_Store
